{% load crispy_forms_tags %}
{% block head_title %}{{ block.super }} - Login{% endblock head_title %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-6 text-center">
        {% if validlink %}
        <p>New Password</p>
        <form method="POST" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-info" value="Reset Password">
        </form>
        {% else %}
        <h1>Error.</h1>
        <p>Sorry, this change password link is not valid. Please request another one.</p>
        {% endif %}
    </div>
</div>
{% endblock %}